

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

#rf-eggs-to-log {
    width: 2.5em;
}

#rf-no-eggs {
    text-align: center;
    font-size: calc(1em + 2vw);
    margin: auto 0;
}

#rf-notes {
    border: none;
    resize: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--cream);
    font-family: custom;
    font-weight: 700;
    font-size: calc(0.5em + 1vw);
    border-bottom: 3px solid;
    flex-grow: 3;
}