

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

#eggs-to-log {
    width: 2.5em;
}

#rf-no-eggs {
    text-align: center;
    font-size: calc(1em + 2vw);
    margin: auto 0;
}

#rf-notes {
    padding: 5px;
    font-size: calc(0.5em + 1vw);
    flex-grow: 3;
}