:root{
    /* CSS HEX */
    --light-green: #606c38ff;
    --dark-green: #283618ff;
    --cream: #fefae0ff;
    --light-orange: #dda15eff;
    --dark-orange: #bc6c25ff;

    --gap: min(2vw, 10px);
    --category-image-size: calc(2rem + 3vw);
}

@font-face {
    font-family: custom;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark-orange);
    font-family: custom, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

button {
    font-family: custom;
    font-weight: 700;
    font-size: calc(0.7rem + 2vw);
    background-color: var(--dark-orange);
    color: var(--cream);
    border: none;
    padding: 1vw;
    margin: -2px 0 0 -3px; /* to offset the box shadow and look better*/
    box-shadow: rgba(0,0,0,0.2) 2px 3px;
    
    flex-grow: 1;
}

button:active{
    transform: translate(2px,3px);
    box-shadow: none;
    background-color: var(--light-green);
}

input,textarea {
    outline: none;
    resize: none;
    font-family: custom;
    font-weight: 700;
    font-size: calc(1em + 2vw);
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-bottom: 3px solid;
    color: var(--cream);
    padding: 2px;

    border-radius: 0;
}

table {
    border-spacing: 0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    color: var(--cream);
    font-size: 1.5rem;
}

tr:nth-child(even) td {
    background-color: rgb(194, 144, 88);
}

th, td {
    background-color: var(--light-orange);
    padding: 0.4rem 0.8rem;
}

/* mobile overrides 
-----------------------------------------------*/

@media screen and (max-width: 680px) {
    
    :root {
        --category-image-size: calc((2rem + 3vw) * 1.7);
        --gap: min(4vw, 10px);
    }
    
    button {
        font-size: calc(2rem + 5vw);
        padding: 4vw 1vw;
        transition: transform 0.1s, background-color 0.1s, box-shadow 0.1s;
        transition-delay: 100ms;
    }
    
    button:active{
        transition: none;
    }
    
    input {
        font-size: calc(0.5rem + 6vw) !important;
    }
    
    textarea {
        font-size: calc(0.5rem + 3vw) !important;
    }
    
    .rf-row {
        flex-direction: column;
        width: 100% !important;
    }

    .rf-mobile-w100{
        width: 100% !important;
    }

    .rf-m-smaller-text-button {
        font-size: calc(1rem + 4vw);
        margin: 0.3rem;
    }

    .rf-inner {
        padding: 2vw !important;
    }

    .rf-nowrap-unless-mobile{
        flex-wrap: wrap;
    }

    .rf-show-mobile {
        display: block !important;
    }
    
    .rf-hide-mobile {
        display: none !important;
    }

    .rf-show-mobile.rf-flex-section {
        justify-content: center;
        display: flex !important;
    }
    
    .rf-mobile-flex {
        display: flex !important;
        gap: var(--gap);
        width: 100%;
        flex-wrap: wrap;
    }

    .rf-large-info-text {
        font-size: calc(2rem + 5vw) !important;
    }

    /* log stuff */
    
    .rf-mobile-overflow {
        overflow-x: auto;
    }

    .rf-log-button-small {
        font-size: calc(2rem + 2vw) !important;
    }

    .rf-note-display {
        width: 95% !important;
    }

    .rf-note-text {
        width: 80% !important;
    }

    ::-webkit-scrollbar{
        height: 12px;
        width: 12px;
        background: var(--light-orange);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb{
        background: var(--light-green);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

}

/* hacks to replace gap and some weird stuff on old safari on iOS */

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .rf-row .rf-flex-section:not(:last-child):not(.rf-width25) {
        margin-bottom: var(--gap);
    }

    .rf-row .rf-flex-section.rf-width25:not(:last-child) {
        margin-right: var(--gap);
    }

    .rf-inner *:not(:last-child){
        margin-right: var(--gap);
    }

    .rf-flex-column .rf-flex {
        margin-bottom: var(--gap);
    }

    .rf-green-button:not(:last-child) {
        margin-left: var(--gap);
    }

    .rf-row:not(.rf-nowrap-unless-mobile) .rf-mobile-flex {
        margin-bottom: var(--gap);
    }

    #rf-date-input {
        max-width: 12.4rem !important;
    }

    input {
        font-size: calc(1rem + 6vw) !important;
    }
}
/* category page 
-----------------------------------------------*/

.rf-row{
    width: 97%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    gap: var(--gap);
    padding: var(--gap);
    padding-bottom: 0;
}

.rf-flex-section{
    position: relative;
    background-color: var(--light-orange);
    color: var(--cream);
    padding: 1vw;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.rf-width75{
    width: 75%;
}

.rf-width50{
    width: 50%;
}

.rf-width25{
    width: 25%;
}

.rf-show-mobile {
    display: none !important;
}

.rf-nowrap-unless-mobile {
    flex-wrap: nowrap;
}

.rf-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: var(--gap)
}

.rf-flex-column { /* do I need this? it might make more sense for the section to default to column */ 
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.rf-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding: 0.5vw;
}

.rf-section-blocker{
    background-color: rgba(51, 51, 51, 0.493);
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.rf-category-link{
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.rf-categories-indicator{
    background-color: var(--light-green);
    padding: 0.6rem;
    border-radius: 10px;
    visibility: hidden;
}

.rf-categories-icon{
    height: var(--category-image-size);
    width: var(--category-image-size);
    visibility: visible;
    mix-blend-mode: luminosity;
}

.rf-mobile-flex {
    display:contents;
}

.rf-section-label {
    font-size: max(calc(0.5rem + 2vw), 1rem);
    margin: 0 0 0 0.15rem;
}

p.rf-section-label {
    text-align: center;
}

.rf-large-info-text {
    text-align: center;
    font-size: calc(0.5rem + 5vw);
    font-weight: 700;
    margin: auto;
}

.rf-green-button {
    background-color: var(--light-green);
}

.rf-green-button:active {
    background-color: var(--dark-green);
}

.rf-large-button {
    height: 100%;
}

/* log page 
-----------------------------------------------*/

.rf-log-flash{
    color: red;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 10px;
}

#rf-date-input {
    max-width: 5.8em;
}

.rf-log-button-small {
    font-weight: 700;
    font-size: calc(1rem + 2vw);
    padding: 5px 10px;
    margin-left: 2px;
}

.rf-log-button-small:active {
    margin-left: 2px;
}

.rf-screen-overlay{
    position: fixed; /* Sit on top of the page content */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order*/
}

.rf-note-display {
    position: absolute;
    visibility: hidden;
    background-color: var(--light-orange);
    border: 2px solid var(--light-green);
    color: var(--cream);
    height: 80vh;
    width: 60vw;
    padding: 1vw;
    inset: 0;
    margin: auto;
    z-index: 2;

    font-size: calc(0.7rem + 1vw);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rf-close-button {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    padding: 0.2rem 0.5rem;
}

.rf-note-text {
    width: 90%;
    font-size: calc(0.7rem + 3vw);
    padding: 0.3rem;
}