:root{
    /* CSS HEX */
    --light-green: #606c38ff;
    --dark-green: #283618ff;
    --cream: #fefae0ff;
    --light-orange: #dda15eff;
    --dark-orange: #bc6c25ff;

    --section-height: min(calc(3rem + 11vw), 12em);
    --gap: min(2vw, 10px);
    --category-image-size: calc(2rem + 3vw);
}

@font-face {
    font-family: custom;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark-orange);
    font-family: custom, sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

button {
    font-family: custom;
    font-weight: 700;
    font-size: calc(0.7rem + 2vw);
    background-color: var(--dark-orange);
    color: var(--cream);
    border: none;
    padding: 1vw;
    margin: 0.5vw;
    box-shadow: rgba(0,0,0,0.2) 2px 3px;
}

button:active{
    transform: translate(2px,3px);
    box-shadow: none;
    border: none;
    margin: 0.5vw;
    background-color: var(--light-green);
}

form {
    height: 100%;
    width: 100%;
}

input {
    outline: none;
}

/* mobile overrides 
-----------------------------------------------*/

@media screen and (max-width: 680px) {
    
    :root {
        --section-height: calc( (3rem + 11vw) * 1.5);
        --category-image-size: calc((2rem + 3vw) * 1.7);
        --section-height: calc(4rem + 18vw);
    }
    
    button {
        font-size: calc(1rem + 3vw);
        transition: transform 0.1s, background-color 0.1s, box-shadow 0.1s;
        transition-delay: 100ms;
    }
    
    button:active{
        transition: none;
    }
    
    input, textarea {
        border-radius: 0;
        padding: 1vw;
    }
    
    .rf-row {
        flex-direction: column;
    }

    .rf-nowrap-unless-mobile{
        flex-wrap: wrap;
    }

    .rf-show-mobile {
        display: block !important;
    }
    
    .rf-hide-mobile {
        display: none !important;
    }

    .rf-show-mobile.rf-flex-section {
        justify-content: center;
        display: flex !important;
    }
    
    .rf-mobile-flex {
        display: flex !important;
        gap: var(--gap);
        width: 100%;
        flex-wrap: wrap;
    }
    .rf-mobile-short-section {
        height: calc(var(--section-height) - 9vw) !important;
    }

    .mobile-overflow {
        overflow: auto;
    }

    .flex-container {
        height: 80%;
    }

    /* log stuff */

    .log-button-section {
        padding: 3vw;
    }

    ::-webkit-scrollbar{
        height: 12px;
        width: 12px;
        background: var(--light-orange);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb{
        background: var(--light-green);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
}

/* hacks to replace gap and some wierd stuff on old safari on iOS */

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
    .row .section {
        margin-bottom: var(--gap);
    }

    .rf-mobile-flex *:not(:last-child):not(#date-section) {
        margin-right: var(--gap);
    }

    .flex-container *:not(:last-child):not(#date-section) {
        margin-right: var(--gap);
    }

    .chicken-row {
        padding-top: 0;
    }

}

/* category page 
-----------------------------------------------*/

.rf-row{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: var(--gap);
    padding: var(--gap);
}

.rf-flex-section{
    position: relative;
    height: var(--section-height);
    background-color: var(--light-orange);
    color: var(--cream);
    padding: 2vw 1vw;
    min-width: fit-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rf-show-mobile {
    display: none !important;
}

.rf-nowrap-unless-mobile {
    flex-wrap: nowrap;
}

.rf-flex {
    display: flex;
}

.rf-section-blocker{
    background-color: rgba(51, 51, 51, 0.493);
    z-index: 10;
    position: absolute;
    height: var(--section-height);
    width: 100%;
    top:0;
    left: 0;
}

.rf-category-link{
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.rf-categories-indicator{
    background-color: var(--light-green);
    padding: 0.6rem;
    border-radius: 10px;
    visibility: hidden;
}

.rf-categories-icon{
    height: var(--category-image-size);
    width: var(--category-image-size);
    visibility: visible;
    mix-blend-mode: luminosity;
}

.rf-mobile-flex {
    display:contents;
}

.rf-section-label {
    font-size: max(calc(0.5rem + 2vw), 1rem);
    margin: -1vw 0 0 0.15rem;
}

p.rf-section-label {
    text-align: center;
}

.rf-large-info-text {
    text-align: center;
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    margin-top: 2vw;
}

.no-wrap {
    flex-wrap: nowrap !important;
    justify-content: space-between;
}

.green-button {
    background-color: var(--light-green);
}

.green-button:active {
    background-color: var(--dark-green);
}

/* #categories-section{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex-grow: 1;
    max-width: 35vw;
} */

/* #categories-icons{
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
} */



/* log page 
-----------------------------------------------*/

.log-button-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.log-button {
    font-weight: 700;
    font-size: calc(1rem + 2vw);
    margin: -1px 5px 5px 0;
    padding: 10px 3vw;
    height: 90%;
}

.log-button:active{
    margin: -1px 5px 5px 0;
}

#add-entry-form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 2vw;
}

#date-input {
    font-family: custom;
    font-weight: 700;
    font-size: calc(1rem + 2vw);
    width: 6rem;
    height: fit-content;
    
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-bottom: 3px solid;
    color: var(--cream)
}

#date-input:focus {
    outline: none;
}

.log-flash{
    color: red;
    position: relative;

    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 10px;
}

table {
    border-spacing: 5px;
    margin-left: 5px;
    margin-top: 15px;
    color: var(--cream);
    font-size: min(calc(1rem + 1vw), 20px);
}

tr:nth-child(even) td {
    background-color: rgb(192, 143, 86);
}

th, td {
    background-color: var(--light-orange);
    padding: 5px 10px;
}

td {
    height: 42px;
}

.log-button-small {
    font-weight: 700;
    font-size: calc(1rem + 1vw);
    padding: 5px 10px;
    margin-left: 2px;
}

.log-button-small:active {
    margin-left: 2px;
}

.screen-overlay{
    position: absolute; /* Sit on top of the page content */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

.note-display {
    position: absolute;
    visibility: hidden;
    background-color: var(--light-orange);
    border: 2px solid var(--light-green);
    height: 35vw;
    width: 35vw;
    padding: 1vw;
    inset: 0;
    margin: auto;
    z-index: 2;
}

.delete-display {
    height: 20vw;
}

.note-text {
    color: var(--cream);
    max-width: 30vw;
}

.close-button {
    position: absolute;
    right: 1vw;
    top: 1vw;
    height: 3vw;
    width: 3vw;
    font-size: 2vw;
}

