{% extends 'base.html' %}

{% block content %}

    <section class='row flex-container'>

        <div class='rf-flex-section rf-show-mobile rf-column'>
            {# <div class='rf-section-blocker'></div>  remove this to unblock the categories panel #}
            <div class='rf-flex'>    
                <a class='rf-category-link' href='{{ url_for('chickens') }}'>
                    <div class='rf-categories-indicator' style={{self.chicken_indicator_style()}}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/chicken-icon.png') }}' style={{self.chicken_image_style()}}>
                    </div>
                </a>
                <a class='rf-category-link' href='{{ url_for('rabbits') }}'>
                    <div class='rf-categories-indicator' style={{self.rabbit_indicator_style()}}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/rabbit-icon.png') }}' style={{self.rabbit_image_style()}}>
                    </div>
                </a>
                <a class='rf-category-link' href='{{ url_for('garden') }}'>
                    <div class='rf-categories-indicator' style={{ self.garden_indicator_style() }}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/garden-icon.png') }}' style={{self.garden_image_style()}}>
                    </div>
                </a>
            </div>
            <div class='categories-indicator' style={{self.rabbit_indicator_style()}}>
                <a class='category-link' href='{{ url_for('rabbits') }}'><img class='categories-icon' src='{{ url_for('static', filename='/images/rabbit-icon.png') }}'></a>
            </div>
            <div class='categories-indicator' style={{self.garden_indicator_style()}}>
                <a class='category-link' href='{{ url_for('garden') }}'><img class='categories-icon' src='{{ url_for('static', filename='/images/vegetable-icon.png') }}'></a>
            </div>
        </div>

        <div class='rf-mobile-flex'>
            <div class='rf-flex-section rf-mobile-short-section rf-flex-column'>
                <h2 class='rf-section-label'>{%if is_today%}Today's {%endif%}Date:</h2>
                <p class='rf-large-info-text'>{{date}}</p>
            </div>

            <div class='rf-flex-section rf-mobile-short-section rf-flex-column'>
                {%block time_section%}
                    <h2 class='section-label'>Current Time:</h2>
                    <p class='large-info-text'>{{time}}</p>
                {%endblock%}
            </div>
        </div>
        <div class='rf-flex-section rf-hide-mobile rf-flex-column'>
            <div class='rf-section-blocker'></div> {# remove this to unblock the categories panel #}
            <p class='rf-section-label'>Categories</p>

            <div id='categories-icons'>
                <div class='categories-indicator' style={% block chicken_indicator_style%}'visibility:hidden;'{% endblock chicken_indicator_style%}>
                    <a class='category-link' href='{{ url_for('chickens') }}'><img class='categories-icon' src='{{ url_for('static', filename='/images/chicken-icon.png') }}'></a>
                </div>
                <div class='categories-indicator' style={% block rabbit_indicator_style%}'visibility:hidden;'{% endblock rabbit_indicator_style%}>
                    <a class='category-link' href='{{ url_for('rabbits') }}'><img class='categories-icon' src='{{ url_for('static', filename='/images/rabbit-icon.png') }}'></a>
                </div>
                <div class='categories-indicator' style={% block garden_indicator_style%}'visibility:hidden;'{% endblock garden_indicator_style%}>
                    <a class='category-link' href='{{ url_for('garden') }}'><img class='categories-icon' src='{{ url_for('static', filename='/images/vegetable-icon.png') }}'></a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}