{% extends 'base.html' %}

{% block chicken_image_style %}''{% endblock chicken_image_style %}
{% block rabbit_image_style %}''{% endblock rabbit_image_style %}
{% block garden_image_style %}''{% endblock garden_image_style %}

{% block chicken_indicator_style %}''{% endblock chicken_indicator_style %}
{% block rabbit_indicator_style %}''{% endblock rabbit_indicator_style %}
{% block garden_indicator_style %}''{% endblock garden_indicator_style %}

{% block content %}

    <section class='rf-row rf-nowrap-unless-mobile'>

        <div class='rf-flex-section rf-show-mobile rf-column'>
            <div class='rf-section-blocker'></div> {# remove this to unblock the categories panel #}
            <div class='rf-flex rf-inner'>    
                <a class='rf-category-link' href='{{ url_for('chickens') }}'>
                    <div class='rf-categories-indicator' style={{self.chicken_indicator_style()}}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/chicken-icon.png') }}' style={{self.chicken_image_style()}}>
                    </div>
                </a>
                <a class='rf-category-link' href='{{ url_for('rabbits') }}'>
                    <div class='rf-categories-indicator' style={{self.rabbit_indicator_style()}}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/rabbit-icon.png') }}' style={{self.rabbit_image_style()}}>
                    </div>
                </a>
                <a class='rf-category-link' href='{{ url_for('garden') }}'>
                    <div class='rf-categories-indicator' style={{ self.garden_indicator_style() }}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/garden-icon.png') }}' style={{self.garden_image_style()}}>
                    </div>
                </a>
            </div>
        </div>

        <div class='rf-mobile-flex'>
            <div class='rf-flex-section rf-flex-column'>
                <h2 class='rf-section-label'>{%if is_today%}Today's {%endif%}Date:</h2>
                <div class='rf-inner'>
                    <p class='rf-large-info-text'>{{date}}</p>
                </div>
            </div>

            {%block time_section%}

            {%endblock%}

        </div>
        <div class='rf-flex-section rf-hide-mobile rf-flex-column'>
            <div class='rf-section-blocker'></div> {# remove this to unblock the categories panel #}
            <p class='rf-section-label'>Categories</p>

            <div class='rf-flex'>
                <a class='rf-category-link' href='{{ url_for('chickens') }}'>
                    <div class='rf-categories-indicator' style={{self.chicken_indicator_style()}}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/chicken-icon.png') }}' style={{self.chicken_image_style()}}>
                    </div>
                </a>
                <a class='rf-category-link' href='{{ url_for('rabbits') }}'>
                    <div class='rf-categories-indicator' style={{self.rabbit_indicator_style()}}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/rabbit-icon.png') }}' style={{self.rabbit_image_style()}}>
                    </div>
                </a>
                <a class='rf-category-link' href='{{ url_for('garden') }}'>
                    <div class='rf-categories-indicator' style={{ self.garden_indicator_style() }}>
                        <img class='rf-categories-icon' src='{{ url_for('static', filename='/images/garden-icon.png') }}' style={{self.garden_image_style()}}>
                    </div>
                </a>
            </div>
        </div>

    </section>
{% endblock %}