{%extends 'category.html'%}

{% block css %}<link rel='stylesheet' href='{{ url_for('static', filename= 'css/chickens.css') }}'>{%endblock%}
{% block chicken_indicator_style %}'visibility: visible;'{% endblock chicken_indicator_style %}
{% block chicken_image_style %}'mix-blend-mode:normal;'{% endblock chicken_image_style %}

{%block time_section%}
    {% if not is_today %}
        <button class='rf-large-button' onclick='location.href="{{ url_for('chickens') }}"'>Back to current day</button>
    {%else%}
        {{ super() }}
    {%endif%}
{%endblock%}

{%block content%}
    {{ super() }} {# renders the top row #}
    <section class='rf-row'>

        <div class='rf-flex-section rf-mobile-tall-section rf-flex-column'>
            <h2 class='rf-section-label'>Log Eggs</h2>
            <form method="post" class='rf-flex-wrapper'>
                <div class='rf-flex'>
                    <input type='number' id='rf-eggs-to-log' name='eggs-to-log' step=1 value=0>
                    <div class='rf-flex-column'>
                        <div id='egg-button-panel' class='rf-flex'>
                            <button id='add-egg' class='egg-button' onclick='increment(1)' type="button">+1</button>
                            <button id='subtract-egg' class='egg-button' onclick='decrement(1)' type="button">-1</button>
                        </div>
                        <button id='log-eggs' class='rf-green-button' type='submit'>Log</button>
                    </div>
                </div>
                <input type='hidden' name='form_id' value='1'>
                <input type='hidden' name='form_date' value='{{ date }}'>
            </form>

        </div>

        <div class='mobile-flex no-wrap'>
            <div id='todays-eggs-section' class='rf-flex-section'>
                <h2 class='rf-section-label'>{% if is_today %}Today's {%endif%}Egg Count:</h2>
                    {%if todays_eggs == ''%}
                        <h3 id='no-eggs'>None yet</h3>
                    {%else%}
                        <p class='large-info-text'>{{ todays_eggs }}</p>
                    {% endif %}
            </div>
            <div id='view-egg-log-section' class='rf-flex-section'>
                <button id='view-egg-log' onclick='location.href="{{ url_for('egg_log') }}"'>View Egg Log</button>
            </div>
        </div>
        <div class='rf-flex-section'>
            <form method='post'>
                <h2 class='rf-section-label'>{%if is_today%}Today's {%endif%}Notes:</h2>
                <div class='flex-container'>
                    <button id='save-notes' class='green-button' type='submit'>Save</button>
                    <textarea id='notes' name='notes'>{{ notes }}</textarea>
                </div>
                <input type='hidden' name='form_id' value='2'>
                <input type='hidden' name='form_date' value='{{ date }}'>
            </form>
        </div>
    </section>
{%endblock%}

{%block script%}
    function increment(amount) {
        document.getElementById('eggs-to-log').stepUp(amount);
    }
    function decrement(amount) {
        document.getElementById('eggs-to-log').stepDown(amount);
    }
{%endblock%}