{%extends 'category.html'%}

{% block css %}<link rel='stylesheet' href='{{ url_for('static', filename= 'css/chickens.css') }}'>{%endblock%}
{% block chicken_indicator_style %}'visibility: visible;'{% endblock chicken_indicator_style %}
{% block chicken_image_style %}'mix-blend-mode:normal;'{% endblock chicken_image_style %}

{%block time_section%}
    {% if not is_today %}
        <button class='rf-large-button' onclick='location.href="{{ url_for('chickens') }}"'>Back to current day</button>
    {%else%}
        {{ super() }}
    {%endif%}
{%endblock%}

{%block content%}
    {{ super() }} {# renders the top row #}
    <section class='rf-row'>

        <div class='rf-flex-section rf-mobile-tall-section rf-flex-column rf-width50 rf-mobile-w100'>
            <h2 class='rf-section-label'>Log Eggs</h2>
            <form method="post" class='rf-inner'>
                <div class='rf-flex'>
                    <input type='number' id='rf-eggs-to-log' name='eggs-to-log' step=1 value=0>
                    <div class='rf-flex-column rf-width50'>
                        <div class='rf-flex'>
                            <button onclick='increment(1)' type="button">+1</button>
                            <button onclick='decrement(1)' type="button">-1</button>
                        </div>
                        <button class='rf-green-button' type='submit'>Log</button>
                    </div>
                </div>
                <input type='hidden' name='form_id' value='1'>
                <input type='hidden' name='form_date' value='{{ date }}'>
            </form>

        </div>

        <div class='rf-mobile-flex'>
            <div class='rf-flex-section rf-flex-column rf-width25'>
                <h2 class='rf-section-label'>{% if is_today %}Today's {%endif%}Egg Count:</h2>
                <div class='rf-inner'>
                    {%if todays_eggs == ''%}
                        <h3 id='rf-no-eggs'>None yet</h3>
                    {%else%}
                        <p class='rf-large-info-text'>{{ todays_eggs }}</p>
                    {% endif %}
                </div>
            </div>
            <div class='rf-flex-section rf-width25'>
                <div class='rf-inner'>
                    <button class='rf-large-button' onclick='location.href="{{ url_for('egg_log') }}"'>View Egg Log</button>
                </div>
            </div>
        </div>

    </section>
    <section class='rf-row'>
        <div class='rf-flex-section rf-flex-column'>
            <h2 class='rf-section-label'>{%if is_today%}Today's {%endif%}Notes:</h2>
            <form method='post' class='rf-inner'>
                <div class='rf-flex'>
                    <button class='rf-green-button' type='submit'>Save</button>
                    <textarea id='rf-notes' name='notes' rows=5>{{ notes }}</textarea>
                </div>
                <input type='hidden' name='form_id' value='2'>
                <input type='hidden' name='form_date' value='{{ date }}'>
            </form>
        </div>
    </section>
{%endblock%}

{%block script%}
    function increment(amount) {
        document.getElementById('eggs-to-log').stepUp(amount);
    }
    function decrement(amount) {
        document.getElementById('eggs-to-log').stepDown(amount);
    }
{%endblock%}