{%extends 'log.html'%}

{%block url_back%}"{{ url_for('chickens') }}"{%endblock%}

{%block log_content%}
    <section class='rf-row'>
        <div class='rf-mobile-overflow rf-overflow-y'>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Number of eggs</th>
                    <th style='visibility: hidden;'></th>
                    <th style='visibility: hidden;'></th>
                    <th style='visibility: hidden;'></th>
                </tr>
                {% for log in eggs%} {# log = [collection_date, amount, notes]#}
                    <tr>
                        <td>{{log[0]}}</td>
                        <td>{{log[1]}}</td>
                        {% if log[2] %}
                            <td>
                                <button class='rf-log-button-small' type='button' onclick='showNote( "{{ log[0] }}" )'>Notes</button>
                            </td>
                            <div id='{{ [log[0],"note_display"]|join }}' class='rf-note-display'>
                                <button class='rf-close-button' type='button' onclick='hideNote( "{{ log[0] }}" )'>X</button>
                                <h2 class='rf-note-text'>{{ log[2] }}</h2>
                            </div>
                        {% else %}
                            <td style='visibility:hidden;'>
                                <button class='rf-log-button-small' type='button'></button>
                            </td>
                        {% endif %}

                        <td>
                            <form method='post'>
                                <button class='rf-log-button-small' type='submit'>Edit</button>  
                                <input type='hidden' name='date' value='{{log[0]}}'>
                                <input type='hidden' name='form_id' value='edit'>
                            </form>
                        </td>

                        <td>
                            <button class='rf-log-button-small' type='button' onclick='showDeleteDisplay( "{{ log[0] }}" )'>Delete</button>  

                            
                            <div id='{{ [log[0],"delete_display"]|join }}' class='rf-note-display'>
                                <button class='rf-close-button' type='button' onclick='hideDeleteDisplay( "{{ log[0] }}" )'>X</button>
                                <h1 class='rf-note-text'>Are you sure you want to delete the entry for {{ log[0] }}? This action is permanent!</h1>
                                <div class='rf-flex'>    
                                    <form method='post'>
                                        <button class='rf-m-smaller-text-button' type='submit' onclick='hideDeleteDisplay( "{{ log[0] }}" )'>Delete</button>
                                        <input type='hidden' name='date' value='{{log[0]}}'>
                                        <input type='hidden' name='form_id' value='delete'>
                                    </form>
                                    <button class='rf-m-smaller-text-button' type='button' onclick='hideDeleteDisplay( "{{ log[0] }}" )'>Cancel</button>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id='screen_overlay' class='rf-screen-overlay'></div>
    </section>        
{%endblock%}
            
{%block script%}
    {{ super() }}
    function showNote(note_date) {
        note_id = note_date + 'note_display';
        document.getElementById('screen_overlay').style.display = 'block';
        document.getElementById(note_id).style.visibility = 'visible';
    }
    function hideNote(note_date) {
        note_id = note_date + 'note_display';
        document.getElementById('screen_overlay').style.display = 'none';
        document.getElementById(note_id).style.visibility = 'hidden';
    }

    function showDeleteDisplay(log_date) {
        display_id = log_date + 'delete_display';
        document.getElementById('screen_overlay').style.display = 'block';
        document.getElementById(display_id).style.visibility = 'visible';
    }
    function hideDeleteDisplay(log_date) {
        display_id = log_date + 'delete_display';
        document.getElementById('screen_overlay').style.display = 'none';
        document.getElementById(display_id).style.visibility = 'hidden';
    }
{%endblock%}