{%extends 'base.html'%}

{%block content%}
    <section class='rf-row rf-flex'>
            <div class='rf-flex-section rf-flex-column rf-mobile-w100'>
                <div class='rf-inner'>
                    <button class='rf-large-button' onclick='location.href={%block url_back required%}{%endblock%}'>Back</button>
                </div>
            </div>
            <div class='rf-flex-section rf-flex-column rf-width75 rf-mobile-w100'>
                {% for message in get_flashed_messages() %}
                    <div class='rf-log-flash'>{{ message }}</div>
                {%endfor%}
                <form method='post' class='rf-inner'>
                    <button class='rf-green-button rf-m-smaller-text-button' type='submit'>Add Entry</button>
                    <input type='text' name='date_input' id='rf-date-input' value='00/00/2024'>
                    <input type='hidden' name='form_id' value='add_entry'>
                </form>
            </div>

    </section>

    <section>
        {%block log_content%}{%endblock%}
    </section>
{%endblock%}