{% extends 'base.html' %}

{%block title%}Homestead Website{%endblock%}

{% block content %}
    <section class="row">
        <div id="date-section" class="section">
            <h2 class="dt-label">Today's Date:</h2>
            <p class="large-info-text">{{date}}</p>
        </div>
        <div id="time-section" class="section">
            <h2 class="dt-label">Current Time:</h2>
            <p class="large-info-text">{{time}}</p>
        </div>
        <div id="categories-section" class="section">
            <p id="categories-label">Categories</p>
            <div id="categories-icons">
                <a class="category-link" href="{{ url_for("chickens") }}"><img class="categories-icon" src="{{ url_for("static", filename="/images/chicken-icon.png") }}"></a>
                <a class="category-link" href="{{ url_for("rabbits") }}"><img class="categories-icon" src="{{ url_for("static", filename="/images/rabbit-icon.png") }}"></a>
                <a class="category-link" href="{{ url_for("garden") }}"><img class="categories-icon" src="{{ url_for("static", filename="/images/vegetable-icon.png") }}"></a>
            </div>
            <div id="categories-indicators">
                <div class="categories-indicator" style={% block chicken_indicator_style%}"visibility:hidden;"{% endblock chicken_indicator_style%}></div>
                <div class="categories-indicator" style={% block rabbit_indicator_style%}"visibility:hidden;"{% endblock rabbit_indicator_style%}></div>
                <div class="categories-indicator" style={% block garden_indicator_style%}"visibility:hidden;"{% endblock garden_indicator_style%}></div>
            </div>
        </div>
        
    </section>
{% endblock %}